<form action="{% url 'polls:vote' question.id %}" method="post">
    {% csrf_token %}
    <fieldset>
        <legend><h1>{{ question.question_text }}</h1></legend>
        {% if error_message %}
            <p><strong>{{ error_message }}</strong></p>
        {% endif %}
        {% for choice in question.choice_set.all %}
            <input 
                type="radio"
                name="choice"
                id="choice{{ forloop.counter }}"
                value="{{choice.id}}"
            >
            <label for="choice{{ forloop.counter }}">
                {{ choice.choice_text }}
            </label>
            <br>
        {% endfor %}
    </fieldset>
    <input type="submit" value="Votar">
</form>



<!-- The code you provided is a mix of HTML and Django template syntax. It seems to be a template for
rendering a question and its choices dynamically. 
<h1>{{question.question_text}}</h1>
<ul>
    
    {% for choice  in question.choice_set.all  %}
        <li>{{choice.choice_text}}</li>
    {% endfor %}
        
</ul> -->
